body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
}

header {
    background-color: #1e88;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: grey;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: red;
}

.card {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid ;
}

.card h2 {
    color: #1e88e5;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: red;
    color: white;
}

button {
    padding: 8px 15px;
    border: none;
    background-color: #1e88e5;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #1565c0;
}
